{% extends 'base.html.twig' %}

{% block title %} {{ current_survey.name }} {% endblock %}

{% block body %}
<div class="container pt-4">
    {% for field_survey in current_survey.fieldSurveys %}
     <div class="survey_section d-flex justify-content-between" >
        <div>
         {{ field_survey.question }} ?
        </div>
            <div>
                <a href="{{ path( 'delete_field',{'id': field_survey.id} )}}" class="btn btn-danger">Supprimer</a>
            </div>
        </div>

    {% endfor %}
    <a href="{{ path( 'edit_survey_page',{'id': current_survey.id} )}}" class="btn btn-info btn_add_survey">+</a>
</div>   
{% endblock %}