<footer class="page-footer font-small color_text_theme color_theme pt-4">

	<div class="container-fluid text-center text-md-left">
		<div class="row">

			<div class="col-md-6 mt-md-0 mt-3">

				<h5 class="text-uppercase mb-2"><span class="cwa_link" >CELL</span> form</h5>
				<p class="mb-0">Créez autant de formulaire que vous souhaitez</p>
				<p>C’est SIMPLE, RAPIDE et GRATUIT</p>
			</div>

			<hr class="clearfix w-100 d-md-none pb-3">

			<div class="col-md-3 mb-md-0 mb-3"></div>

			<div class="col-md-3 mb-md-0 mb-3">
				<ul class="list-unstyled d-flex flex-row ">
					<li class="p-2">
						<a class="color_text_theme" href="{{ path('legales_mentions')}}">Mention légales</a>
					</li>
                    <li class="p-2">
						<p class="color_text_theme" >|</p>
					</li>
					<li class="p-2">
						<a class="color_text_theme" href="{{ path('personal_data_charter')}}">Charte des données personnelles</a>
					</li>
				</ul>
			</div>

		</div>

	</div>

	<div class="footer-copyright text-center py-3">© 2020 Copyright:
		<a class="color_text_theme" href="https://www.agence-cwa.com/">
			Agence
			<span class="cwa_link color_text_theme">CWA</span>
		</a>
	</div>


</footer>

