
<div id="modal" class="modal modal_active" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><a href='{{path('cookies_policy')}}'>Politique des cookies</a></h5>
      </div>
      <div class="modal-body">
        <p>En poursuivant votre navigation sur ce site, vous acceptez l’utilisation de cookies ou autres traceurs pour nous permettre de faciliter et d’améliorer votre expérience par la production de données statistiques. Vous acceptez également le stockage de vos données, dont vous pouvez demander à tout moment leur suppression par simple mail.</p>
      </div>
      <div class="modal-footer">
        <button id="acceptTerms" type="button" class="btn btn-primary">Accepter les termes</button>
      </div>
    </div>
  </div>
</div>