{% extends 'base.html.twig' %}


  {% block body %}
   <div class="container pt-5">

      <h3>BIENVENUE SUR VOTRE PLATEFORME DE CREATION DE FORMULAIRE !</h3>
      <a href="{{ path('create_survey_page')}}" class="btn_creation"> Créer un formulaire</a>

    </div>
  {% endblock %}