{% extends 'base.html.twig' %}


  {% block body %}
   <div class="container pt-5">

      <h3>Bienvenue sur votre plateforme de création de formulaire !</h3>
      <a href="{{ path('create_survey_page')}}" class="btn_creation color_theme"> Créer un formulaire</a>

    </div>
  {% endblock %}