{% extends 'base.html.twig' %}


  {% block body %}
    <div class="home" style="background-image:url('{{ asset('/img/home.jpg') }}')">
      <div class="home_filter"></div>
      <div class="container home_container" >

        <h1 class="text-dark">Plateforme de création de formulaire en ligne</h1>
        <div class="container_text_secondary">
          <p class="text-secondary">Professionnels, étudiants ?</p>
          <p class="text-secondary">Vous avez besoin de faire des sondages ?</p>
          <p class="text-secondary">La plateforme « CWA formulaire » est faite pour vous !</p>
          <p class="text-secondary">Créez autant de formulaire que vous souhaitez.</p>
          <p class="text-secondary">C’est SIMPLE, RAPIDE et GRATUIT.</p>
        </div>
          
        <div class="home_section_btn d-flex justify-content-between">
            <a href="{{ path('app_register')}}" class="btn_creation">Créer un compte</a>
            <a href="{{ path('login')}}" class="btn_connection">Se connecter</a>
        </div>  

      </div>

    </div> 
  
  {% endblock %}