@import '~@fortawesome/fontawesome-free/css/all.css';

.h-80vh{
    height: 80vh;
}


/***LOGIN_FORM****/
#login_form{
    border: 1px solid #ced4da;
    border-radius: .25em;
    padding: 2em 2em 1em 2em;
    /*width: 325px;*/
}
.login_submit{
    margin-top: 1em
}

/****PAGE_QUESTIONNAIRES****/
.btn_add_survey{
    position: absolute;
    bottom: 100px;
    right: 75px;
    font-size: 3em;
    height: 75px;
    width: 75px;
    border-radius: 75%;
    line-height: 52.5px;
    vertical-align: middle;
    box-shadow: 10px 10px 10px rgba(13,88,99, 0.1);
}
.btn_add_survey:hover{
    line-height: 49px;
    border: 3px solid #1EC9E3;
}
.survey_section{
    padding: 2em 1em;
    border-bottom: 1px solid rgba(13,88,99, 0.08);
}

.fa-angle-right{
    content:'\f105';
}


/**FIEL FORM*/
#field_survey_question{
    width:100%;
    border-radius: .25em;
    padding: .5em .75em;
    border: .5px solid rgb(169, 169, 169);

}
#field_survey_typeReply{
    margin-left: 50px;

}
#field_survey div{
    margin-bottom: 4em;
}
form[name='field_survey'] button{
    float: right;
}
#field_survey_typeReply{
    border-radius: .25em;
    padding: .5em 1em;
}

.pt-6{
    padding-top: 6em;
}