@font-face{
    font-family:'gunplay';
    src:url("../fonts/gunplay.ttf")
}
.cwa_link{
    font-family: gunplay;
    font-size: 1.2em;
}
.fs_225{
    font-size: 2.25rem;
}
.fs_4{
    font-size: 4rem;
}
.fw_500{
    font-weight: 500;
}

a:hover{
    text-decoration: none;
}
.min_heigth{
    min-height: calc(100vh - 72px);
}

.container h3{
    margin-bottom: 1.5em;
}

/****COLOR_THEME_DEFAULT****/
.color_theme {
    background: #000000 !important;
} 
.color_text_theme {
    color: white;
}

/****FOOTER****/
footer a:hover{
    color:white;
}

/****MODAL****/
.modal_active{
    display: block !important;
    background-color: rgba(0,0,0, 0.7);
    backdrop-filter: blur(8px);
}
.modal-dialog {
    margin-top: 25vh !important;
}


/***LOGIN_FORM****/

#login_form{
    border: 1px solid #ced4da;
    border-radius: .25em;
    padding: 2em 2em 1em 2em;
}
form[name="login_form"] .btn{
    border-color: #363636;
}

.login_submit{
    margin-top: 1em
}

.container_registration_form,  .container_login_form{
    height: calc(100vh - (144px + 1.5rem));
}

/**FROM REGISTER**/
form[name="registration_form"]{
    border: 1px solid #ced4da;
    border-radius: .25em;
    padding: 2em 2em 1em 2em;
    width: 430px;
}
form[name="registration_form"] .btn{
    border-color: #363636;
}
/****PAGE_QUESTIONNAIRES****/
.btn_add_survey{
    position: absolute;
    bottom: 100px;
    right: 75px;
    font-size: 3em;
    height: 75px;
    width: 75px;
    border-radius: 75%;
    line-height: 52.5px;
    vertical-align: middle;
    box-shadow: 10px 10px 10px rgba(13,88,99, 0.1);
    overflow: hidden; 
}
/* .btn_add_survey:hover{
    line-height: 49px;
    border: 3px solid #1EC9E3;
} */
/**GLOBAL STYLE IN INDEX AND SHOW SURVEY**/
.section_display{
    padding: 2em 1em;
    border-bottom: 1px solid rgba(13,88,99, 0.08);
}
.section_display p{
    font-weight: 500;
    font-size: 1.1em;
    margin-bottom: 0 !important;
}


/**FIELD FORM*/
#field_survey_question{
    width:100%;
    border-radius: .25em;
    padding: .5em .75em;
    border: .5px solid rgb(169, 169, 169);

}
#location_element_added label span{
    font-size:.9em;
    color:grey;
}
form[name='field_survey'] div{
    margin-bottom: 4em;
}
form[name='field_survey'] button{
    float: right;
}
#field_survey_typeReply{
    border-radius: .25em;
    padding: .5em 1em;
}
/** FRONT_REPLY_PAGE **/
#form_reply {
    width:100%;
}
#form_reply div{
    margin-bottom: 2.5em;
}
#form_reply label{
    font-weight: 500;
}
#form_reply .allFrontCheckbox, .allFrontRadio{
    margin-left: 2em;
}

#form_reply .allFrontCheckbox, .allFrontRadio{
    margin-bottom: 0;
    width: 100%;
}
/* #form_reply .allFrontRadio{
    margin-bottom: 0;
    width: 100%;
} */
/* #form_reply .allFrontRadio div{
    margin-bottom: 0;
} */
/* #form_reply .allFrontRadio{
    margin-left: 2em;
} */
#form_reply .allFrontCheckbox div, .allFrontRadio div{
    margin-bottom: 0;
}

#form_reply .custom-control-label{
    margin-right: 3em;
    font-weight: normal;
}
.bootstrap-select .filter-option, .filter-option-inner, .filter-option-inner-inner, .bootstrap-select, .dropdown-menu, .inner{ 
    margin-bottom: 0 !important;
}
.bootstrap-select{
    width:100%;
    border-radius: .25em;
    border: 1px solid rgb(169, 169, 169);
}
.field_form{
    width:100%;
    border-radius: .25em;
    padding: .5em .75em;
    border: .5px solid rgb(169, 169, 169);
}
/** HOME_PAGE **/
.home{
     min-height: calc(100vh - 70px);
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
 }
 .home .home_container .container_text_secondary{
    margin: 2em .5em;
 }
 .home .home_container .container_text_secondary p{
    margin-top: 0;
    font-size: 1.1em;
    margin-bottom: .2rem;
 }
 
 .home_filter{
    min-height: calc(100vh - 70px);
    background: linear-gradient(135deg, rgba(82, 180, 195, 0.03), rgba(82, 180, 195, 0.03), 60%, rgba(13,88,99, 0.2));
}
.home_container{
    position: absolute;
    top: 194px;
    left: 150px;
}

.btn_connection{
    font-size: 1.4em;
    padding: 1em 1.25em;
    border: 4px solid #000000 ;
    color: #000000;
    border-radius:2px ;
}

.btn_connection:hover{
    text-decoration: none;
    color: #363636;
    border: 4px solid #363636;
}
.btn_creation{
    font-size: 1.4em;
    padding: 1em 1.25em;
    border: 4px solid #000000 ;
    color: white;
    background-color: #000000;
    border-radius:2px ;
}
.btn_creation:hover{
    text-decoration: none;
    background-color:  #363636;
    color: white;
}

.home_container h1{
    font-size: 2.7em;
    padding-top: 4em;

}
.home_container h2{
    font-size: 1.7em;
    padding-bottom: 1em;
}
.home_section_btn{
    width: 500px;
}


/**Form Personalization**/
.vich-image {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.vich-image .form-group{
    flex: 0 0 100%;
}
.vich-image a:last-child{
    display: none;
}
.vich-image .custom-file{
    margin-bottom: 1em;
}
.vich-image a{
    padding: 1rem;
    /*background-color: rgba(0,0,0, 0.8);*/
    border: 10px solid rgb(54,54,54) ;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
}
.vich-image a img{
    filter: invert(0.30);
    max-width: 250px;
    max-height: 250px;
}
.custom-file-label::after{
    content: "Choisir un fichier";
}


/**PERSONAL_DATA_CHARTER_PAGE**/
.container_personal_charter, h4{
    margin-top:  1.5rem;
}
.container_personal_charter, .container_personal_charter h2, .container_personal_charter h4{
    margin-bottom:  1rem;
}
.container_personal_charter p{
    padding-left:  1rem;
}
